<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>Best Wall Target</title>
</head>

<body class="accountBody">
    <!-- navbar of page -->
    <nav>
        <!-- title and logo -->
        <section class="titleNav">
            <a href="/users/account" class="webTitle"><strong>Best Wall Target</strong></a>
        </section>

        <!-- links -->
        <section class="navLinks">
            <a href="/users/account">Account</a>
            <a href="/users/shopping">Shopping</a>
            <a href="/users/cart">Cart</a>
        </section>
    </nav>


    <!-- content section -->
    <main class="accountCont">
        <section class="accountSection">
            <div class="imageContainer">
                <img src="<%= user.icon %>" alt="user icon" class="userImage">
            </div>
            
            <h1 class="userName"><%= user.name %></h1>
            <p class="userEmail"><%= user.email %></p>
            <div class="line"></div>
            <p class="userInfo">User since: <%= user.date %></p>
            <p class="userInfo">Card #: <%= user.card %></p>
            <p class="userInfo">Items in cart: <%= user.cart.length %></p>
            <p class="userInfo" id="balance">Balance: $<%= user.balance %></p>
            <button class="logout"><a href="/users/login" class="logoutlink">Logout</a></button>
        </section>
        <section class="information">

        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/account.js"></script>
</body>

</html>